{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Ingredients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>---</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>
                    <a href="{{ path('app_back_ingredient_edit', {'id': ingredient.id}) }}" class="btn btn-warning mt-1">Modifier</a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('app_back_ingredient_new') }}"class="btn btn-success mt-1">Nouvelle ingrédient</a>

{% endblock %}
