{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_back_user_index') }}" class="btn btn-info mt-1">Retour à la liste</a>

    {{ include('back/user/_delete_form.html.twig') }}
{% endblock %}
