{% extends 'base.html.twig' %}

{% block title %}O'Miam - BackOffice{% endblock %}

{% block body %}



<h1> Bienvenue sur le BackOffice d'O'Miam </h1>
<br>
<h2> Welcome on the O'Miam's BackOffice </h2>
<br>
<h3> Benvenuto nel BackOffice di O'Miam </h3>
<br>
<h4> Wilkommen im BackOffice von O'Miam </h4>
<br>
<p> Nous sommes le {{ "now"|date("d/m/Y") }} </p>

<p> Nous avons {{ nbUsers }} utilisateurs enregistrés </p>


{% endblock %