{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Modifier le commentaire</h1>

    {{ include('back/comment/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_back_comment_index') }}" class="btn btn-info mt-1">Retour à la liste</a>

    {{ include('back/comment/_delete_form.html.twig') }}
{% endblock %}
